{% extends "base.html" %}


{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock %}


{% block content %}


<article id="block" class="grid">
    <div id="col1">
        <hgroup>
            <h1>Sign in</h1>
            <h2>ToDoX - ToDo App build with Pico.css & HTMX</h2>
        </hgroup>
        <form   hx-post="{% url 'login' %}"
                hx-select="#block"
                hx-target="#block"
                hx-swap="outerHTML"
                hx-push-url="/"
                >
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" aria-label="Login" autocomplete="username"
                required>
            <input type="password" name="password" placeholder="Password" aria-label="Password"
                autocomplete="current-password" required>

            <!-- <fieldset>
                    <label for="remember">
                        <input type="checkbox" role="switch" id="remember" name="remember">
                        Remember me
                    </label>
                </fieldset> -->
            <button type="submit" class="contrast">
                Login
            </button>
        </form>
        <a hx-get="{% url 'register' %}"
                hx-trigger="click"
                hx-select="#block"
                hx-target="#block"
                hx-swap="outerHTML"
                hx-push-url="/register">Register</a>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    </div>
    <div id="col2"></div>
</article>

{% endblock %}