{% extends "base.html" %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock %}


{% block content %}
<article id="block" class="grid">
        <div id='col1'>
            <hgroup>
                <h3>ToDoX</h3>
                <h4>{{ user.get_username }}</h4>
            </hgroup>
            <ul class="ul-no-points" id="tasks" hx-swap="innerHTML" hx-target="#tasks">
            {% include 'components/tasks_list.html' %}
            </ul>
        
        </div>
        <div id='col2'>
            {% include 'components/tasks_form.html' %}
        </div>
    </article>
{% endblock %}